/* Orange variables */
$theme-color: #f39c12;
$text-color: #2c3e50;
$text-color-secondary: #7f8c8d;
$text-grey: #bdc3c7;
$divider: #ecf0f1;
$lighter-grey: #f0f0f0;
$darker-grey: #34495e;
$smoky-white: #f8f9f9;
$heart: #e74c3c;
